/Android/.gradle
Android/.gradle

/local.properties
local.properties

/Android/.idea/*
Android/.idea/*
/Android/.idea/
Android/.idea/
.DS_Store
Android/build
Android/captures
Android/local.properties

