./Android/.gradle
/Android/.gradle
Android/.gradle

./local.properties
/local.properties
local.properties

./Android/.idea/*
/Android/.idea/*
Android/.idea/*
/Android/.idea/
Android/.idea/

Android/build
Android/captures
Android/local.properties

Android/.gradle
/Android/.idea/*
./Android/.idea/*

Android/build
Android/captures
local.properties

./Android/local.properties
/Android/local.properties
Android/local.properties

/Android/build
/Android/captures
Android/.idea/workspace.xml
/local.properties

./Android/build
./Android/captures
./Android/.idea/workspace.xml
./local.properties

.DS_Store

